<%= form_tag admin_sessions_path do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag "Κωδικός" %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag "Σύνδεση", class: "btn" %>
  </div>
<% end %>