<div class="row-fluid offersnav">
  <div class="span12">
    <div class="span3 link<%= " active" if params[:action] == "index" %>">
      <%= link_to "Νέες", root_path %>
    </div>
    <div class="span3 link<%= " active" if params[:action] == "expiring" %>">
      <%= link_to "Λήγουν σύντομα", root_path %>
    </div>
    <div class="span3 link<%= " active" if params[:action] == "popular" %>">
      <%= link_to "Δημοφιλείς", "#" %>
    </div>
  </div>
</div>
