<% title @offer.title + " / " + @offer.vendor.name %>

<div class="row-fluid">
  <div class="span12 offer-title">
    <h1><%= @offer.title %></h1>
    <h2 class="vendor">από <%= link_to @offer.vendor.name, vendor_path(@offer.vendor) %></h2>
  </div>
</div>

<div class="row-fluid">
  <div class="span5" id="offer-img">
    <%= image_tag @offer.image.url :normal %>
  </div>

  <div class="span7">
    <div class="row-fluid" id="offer-value">
      <div class="span3" id="offer-price">
        <div class="inner">
          <span class="price"><%= format_price(@offer.price) %></span>
          <span class="initial-price">από <%= format_price(@offer.initial_price) %></span>
        </div>
      </div>

      <div class="span9" id="offer-info">
        <div class="row-fluid">
          <div class="span4 info-section first">
            <div class="inner">
              <h5>έκπτωση</h5>
              <%= discount(@offer.discount) %>
            </div>
          </div>

          <div class="span4 info-section">
            <div class="inner">
              <h5>κερδίζετε</h5>
              <%= win(@offer.price, @offer.initial_price) %>
            </div>
          </div>

          <div class="span4 info-section last">
            <div class="inner">
              <h5>ποσότητα</h5>
              300γρ.
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row-fluid" id="offer-expiry">
      <div class="span12">
        <hr />
        Λήγει σε: <span style="font-size: 20px"><%= distance_of_time_in_words(Time.now, @offer.expires_on + 1)  %></span>
        <hr />
      </div>
    </div>

    <div class="row-fluid" id="offer-share">
      <img src="/assets/social.png" />
      <div class="recommend"><a href="#" class="btn btn-mini">Πρότεινέ το σε φίλο</a></div>
    </div>

  </div>

</div>
