<% title @offer.title + " / " + @offer.vendor.name %>
<% provide :sidebar, 'more_from_vendor' %>

<div class="row-fluid">
  <div class="span12 offer-title">
    <h1><%= @offer.title %></h1>
    <h2 class="vendor">από <%= @offer.vendor.name %></h2>
  </div>
</div>

<div class="row-fluid">

  <div class="span7" id="offer-info">
    ξεκίνησε: <%= @offer.starts_on %><br />
    λήγει: <%= @offer.expires_on %>
  </div>

  <div class="span5" id="offer-img">
    <%= image_tag @offer.image.url :normal %>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    share this
  </div>
</div>