<div class="navbar">
  <div class="navbar-inner">
    <div class="container">

      <a class="brand" href="#">Shoply</a>

      <% if logged_in? %>
      <ul class="nav">

        <li <%= raw 'class="active"' if controller_name == 'pages' && action_name == 'index' %>>
          <%= link_to "Επισκόπηση",     admin_path %>
        </li>

        <li <%= raw 'class="active"' if controller_name == 'offers' && action_name == 'new' %>>
          <%= link_to "+Νέα προσφορά",  new_admin_offer_path %>
        </li>

        <li <%= raw 'class="active"' if controller_name == 'vendors' && action_name == 'edit' %>>
          <%= link_to "Ρυθμίσεις",      admin_settings_path %>
        </li>

      </ul>
      <ul class="nav pull-right">
        <li><%= link_to "Αποσύνδεση", admin_logout_path %></li>
      </ul>
      <% end %>

    </div>
  </div>
</div>
