<!DOCTYPE html>
<html>
<head>
  <title>admin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'admin/shared/navbar' %>

<div class="container">
  <div class="row">
    <div class="span9">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>

    <div class="span3">
      <span><%= "Καλωσήλθες, " + current_user.name if logged_in? %></span>
    </div>
  </div>
</div>

<%= debug(params) %>
<%= debug(session) %>
</body>
</html>
