<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> - Shoply</title>
  <%= stylesheet_link_tag     "application", media: "all" %>
  <%= javascript_include_tag  "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/navbar' %>

<div class="container container-main">
  <div class="row-fluid">
    <div class="span2 sidebar">
      <%= render content_for :sidebar %>
    </div>

    <div class="span10">
      <%= yield %>
    </div>
  </div>

  <%= render 'shared/vendors_bar' if controller_name == 'cities' %>
  <%= render 'shared/footer' %>
</div>

<%= render 'shared/debug' %>

</body>
</html>
