<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> - Shoply</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/navbar' %>

<div class="container container-main" id="offers">
  <div class="row-fluid">



    <div class="span9" id="offer">
      <div class="row-fluid">
        <%= yield %>
      </div>

      <div class="row-fluid">
        <div class="span9">
          <%= render 'more_from_vendor' %>
        </div>
      </div>
    </div>

    <div class="span3">
      <br />sidebar <br />sidebar<br />sidebar <br />sidebar<br />sidebar <br />sidebar<br />sidebar <br />sidebar<br />sidebar <br />sidebar<br />sidebar <br />sidebar<br />sidebar <br />sidebar<br />sidebar <br />sidebar<br />sidebar <br />sidebar<br />sidebar <br />sidebar<br />sidebar <br />sidebar<br />sidebar <br />sidebar<br />sidebar <br />sidebar<br />sidebar <br />sidebar<br />sidebar <br />sidebar<br />sidebar <br />sidebar<br />sidebar <br />sidebar<br />sidebar <br />sidebar<br />sidebar <br />sidebar<br />sidebar <br />sidebar<br />sidebar <br />sidebar<br />sidebar <br />sidebar
      <% # render some sidebar partial %>
    </div>





  </div>
</div>











<% if Rails.env.development? %>
Session:
<p><%= debug(session) %></p>

Params:
<p><%= debug(params) %></p>

Cookies:
<p><%= debug(cookies) %></p>
<% end %>

</body>
</html>
