<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> - Shoply</title>
  <%= stylesheet_link_tag     "application", media: "all" %>
  <%= javascript_include_tag  "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/navbar' %>

<div class="container container-main" id="offers">
  <%= yield %>

  <%= render 'more_from_vendor' %>
  <%= render 'shared/footer' %>
</div>

<%= render 'shared/debug' %>

</body>
</html>
