<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> - Shoply</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/navbar' %>

<div class="container container-main" id="offers">
  <%= yield %>

  <%= render 'more_from_vendor' %>
</div>











<% if Rails.env.development? %>
Session:
<p><%= debug(session) %></p>

Params:
<p><%= debug(params) %></p>

Cookies:
<p><%= debug(cookies) %></p>
<% end %>

</body>
</html>
