<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> / ιδέα</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<%= render 'shared/navbar' %>

<div class="container">
  <%= render 'shared/welcome_message' if new_visitor? %>

  <div class="row-fluid">

    <div class="span12">
      <%= yield %>
    </div>
  </div>
</div>

Session:
<p><%= debug(session) %></p>

Params:
<p><%= debug(params) %></p>

</body>
</html>
