<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> - ιδέα.gr</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/navbar' %>

<div class="container offers" id="offers">
  <div class="row-fluid">
    <div class="span9" id="offer">
      <%= yield %>
    </div>

    <div class="span3">
      <%= render content_for :sidebar %>
    </div>
  </div>
</div>

  </div>
</div>

</body>
</html>
